@media (min-width: 1997px) {
    .myclass {
        height: 1000px;
        width: 100%;
    }
}

@media (max-width: 2000px) {
    .myclass {
        height: 100px;
        width: 100%;
    }
}

@media (max-width: 2880px) {
    .myclass {
        height: 870px;
        width: 100%;
    }
}